 html,
 body,
 #layout,
 #main,
 #map {
     height: 100%;
     margin: 0;
     font-family: sans-serif;
     color: #444;
 }

 .logo {
     letter-spacing: 0.05em;
     color: #3e3e3e;
     font-size: 1.2em;
     font-weight: bold;
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
     padding: 5px;
     text-align: center;
     background-color: #EEE;
     border: solid 1px #cfcfcf;
     font-family: serif;
 }

 .ribbon {
     border: 0.0625em dashed #999;
     padding: 20px;
     background-color: #E3E3E3;
 }

 .menu-item {
 	display: block;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	cursor: pointer;
 }

 .menu-item:hover,
 .menu-item-selected {
 	background: #EEE;
 }

#menu span {
     padding: 10px;
     margin-top: 10px;
     display: block;
}

#githubLink {
     position: absolute;
     bottom: 0;
     left: 0;
}

.tab-header {
     padding: 15px;
     box-sizing: border-box;
}

.tune-entry {
     padding: 1px 10px;
       box-sizing: border-box;
       background-color: lightblue;
       margin: 10px;
}

.tune-mode
{
     font-weight: bold;
     padding: 0 5px;
}

.set-entry {
     padding: 15px;
  box-sizing: border-box;
  background-color: lightgrey;
  border: 5px solid white;
}

.set-tunes-container {
     min-height: 50px;
}