 html,
 body,
 #layout,
 #main,
 #map {
 	height: 100%;
 	margin: 0;
 	font-family: sans-serif;
 	color: #444;
 }

 .ribbon {
 	border: 0.0625em dashed #999;
 	padding: 20px;
 	background-color: #E3E3E3;
 }

 .menu-item {
 	display: block;
 	-webkit-transition: all 0.2s ease-out;
 	-moz-transition: all 0.2s ease-out;
 	-ms-transition: all 0.2s ease-out;
 	-o-transition: all 0.2s ease-out;
 	transition: all 0.2s ease-out;
 	cursor: pointer;
 }

 .menu-item:hover,
 .menu-item-selected {
 	background: #EEE;
 }

 #menu span {
 	padding: 10px;
 	margin-top: 10px;
 	display: block;
 }

 #save-btn {
 	width: 100%;
 }

 .menu-footer {
 	width: 100%;
 	box-sizing: border-box;
 	position: absolute;
 	padding: 10px;
 	bottom: 0;
 	left: 0;
 }

 #save-btn {
 	margin-bottom: 10px;
 }

 .tab-header {
 	padding: 15px;
 	box-sizing: border-box;
 	height: 60px;
 	color: #3e3e3e;
 	text-align: center;
 	background-color: #EEE;
 	border-bottom: solid 1px #cfcfcf;
 }

 .tab-header>* {
 	position: relative;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 }

 p.tab-title, a.header-item {
 	font-family: serif;
 	font-size: 1.2em;
 	font-weight: bold;
 	letter-spacing: 0.05em;
 	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
 	margin: 0px;
 }

 #new-set-btn {
 	float: left;
 }

 #menu {
 	box-shadow: none;
 }

 #tunes,
 #sets {
	display: flex;
 	height: 100%;
 	flex-direction: column;
 }

 #menu,
 #tunes {
 	border-right: solid 1px #cfcfcf;
 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 }

 #tunes-container,
 #sets-container {
 	overflow-y: scroll;
 	height: 100%;
 }

 .tune-entry {
 	padding: 0px 10px;
 	margin: 6px;
 	border-radius: 8px;
 	border: solid 1px #00000022;
 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 }

 .tune-info {
 	display: flex;
 	text-transform: uppercase;
 	font-weight: bold;
 	white-space: nowrap;
 	margin-top: 5px;
	overflow: clip;
	font-size: smaller;
 }

 .tune-mode {
 	text-transform: capitalize;
 }

 .tune-title {
 	font-weight: bold;
 	margin-bottom: 0;
 }

 .tune-abc {
 	margin-left: 10px;
	text-transform: none;
 }

 .tune-mode {
 	font-weight: bold;
 	padding: 0 5px;
 }

 .tune-entry-delete-btn, .set-entry-delete-btn {
 	float: right;
 }

 .tune-entry-delete-btn:hover, .set-entry-delete-btn:hover {
 	color: red;
 	cursor: pointer;
 }

 #sets-container {
 	padding: 3px;
 }

 .set-entry {
 	padding: 5px;
 	border-radius: 8px;
 	border: solid 1px #00000022;
 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	background-color: #EEE;
 }

 .set-title {
 	margin: 8px;
 	border: none;
 	border-bottom: solid 1px #00000022;
 	background: none;
 	width: 95%;
 	font-weight: bold;
 	color: #777;
 }

 .set-title-bar {
	display: flex;
	align-items: baseline;
	margin: 0px;
 }

 .set-entry-container {
 	padding: 3px;
 	box-sizing: border-box;
 }

 .set-tunes-container {
 	min-height: 50px;
 }

.tune-browse-entry {
	text-align: left;
}

#tune-entry-popup {
	position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid;
    padding: 20px;
	border-radius: 8px;
	min-width: 20em;
	max-width: 30em;
}

#tune-entry-popup-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 .button-success,
 .button-error,
 .button-warning,
 .button-secondary {
 	color: white;
 	border-radius: 4px;
 	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 }

 .button-success {
 	background: rgb(28, 184, 65);
 	/* this is a green */
 }

 .button-error {
 	background: rgb(202, 60, 60);
 	/* this is a maroon */
 }

 .button-warning {
 	background: rgb(223, 117, 20);
 	/* this is an orange */
 }

 .button-secondary {
 	background: rgb(66, 184, 221);
 	/* this is a light blue */
 }

 .tune-key-A.tune-mode-maj,
 .tune-key-A.tune-mode-mix {
 	background-color: #fff575;
 }

 .tune-key-A.tune-mode-min,
 .tune-key-A.tune-mode-dor {
 	background-color: #ffeb85;
 }

 .tune-key-D.tune-mode-maj,
 .tune-key-D.tune-mode-mix {
 	background-color: rgb(175 232 172);
 }

 .tune-key-D.tune-mode-min,
 .tune-key-D.tune-mode-dor {
 	background-color: rgb(191 220 189);
 }

 .tune-key-G.tune-mode-maj,
 .tune-key-G.tune-mode-mix {
 	background-color: rgb(178 241 232);
 }

 .tune-key-G.tune-mode-min,
 .tune-key-G.tune-mode-dor {
 	background-color: rgb(187 229 236);
 }

 .tune-key-B {
 	background-color: rgb(184 204 255);
 }

 .tune-key-C {
 	background-color: rgb(235 208 255);
 }

 .tune-key-E {
 	background-color: rgb(254 207 142);
 }

 .tune-key-F {
 	background-color: rgb(255 179 179);
 }